.row{
    margin-right: 15px;
    margin-left: 15px;
}
.btn-success {
    color: #fff;
    background-color: #01af2a;
    border-color: #00ce30;

}
.card-body a{
    text-transform: uppercase;
}
.btn {
    border-radius: .9rem;
}
.row {
    padding: 20px;
    margin: 30px;
}
.row{
    background-color: rgb(69, 65, 88);
}
.col-sm-6{
    margin-bottom: 10px;
}